*{
  font-family: "Poppins", sans-serif;
  }


body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'DM Serif Text', serif;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: black;
}

/* GIF centralizado no início */
.gif-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fadeOut 1s forwards;
  animation-delay: 5s;
  z-index: 5;
}

.gif-screen img {
  width: 600px;
}

/* Tela final (PAC BOOKS + NAV) aparece após delay */
.final-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  text-align: center;
  animation: fadeIn 1s forwards;
  animation-delay: 5s;
  z-index: 10;
  color: white;
}


button {
  background-color: #FFCC00;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
 font-weight: 900;
  transition: background-color 0.8s ease, transform 0.2s ease;
  margin-top: 10px;
  box-shadow: 0 4px 80px rgba(60, 160, 231, 0.3);
  height: 40px;
}


button:hover {
  background-color:#FDE483;
  transform: scale(1.05);
}

button:active {
  transform: scale(0.98);
  background-color: #FDE483;
}


/* NAV */
.nav {
  margin: 20px auto 0;
  text-align: center;
  font-size: 16px;
  padding: 20px 0; /* espaço para respiro */
  
}

.nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
  position: relative;
  font-family: arvo;
}

.nav li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.nav li a:hover {
  color: #000000;
}

.nav ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 100%;
  background: rgb(0, 0, 0);

  transition: all 0.3s ease;
}

.nav ul li:hover > ul {
  visibility: visible;
  opacity: 1;
}

.nav ul li ul li {
  display: block;
  padding: 10px;
  width: 100%;
}

.nav ul li ul li a:hover {
  padding-left: 10px;
  border-left: 2px solid #3ca0e7;
  transition: all 0.3s ease;
}

/* ANIMAÇÕES */
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}



.containerhome {
  width: 100%;
  height: 100vh;
  position: relative;
}

.containerHome {
  width: 100%;
  min-height: 100vh; 
}


.bloco {
  background-image: url('bloco.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 1100px;
  height: 700px;
  margin: 0px auto 0 auto; 
  position: relative;
  bottom: 70px;
}

