/* RESET */
body {
  margin: 0; 
}

.container {
  width: 100vw;            
  height: 100vh;           
  background-color: #DFB200;
  display: flex;            
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 150px;

  animation-name: mudarcor;       
  animation-duration: 2s;         
  animation-fill-mode: forwards;  
  animation-timing-function: ease-in-out; 
}

@keyframes mudarcor {
  0% { background-color: #DFB200; }
  100% { background-color: black; }
}

/* ---------- LOGO ---------- */
.img1 {
  width: 500px;
  height: auto;
  opacity: 0;
  position: relative;   
  top: -80px;          

  animation: aparecerLogo 2s ease-out forwards;
  animation-delay: 3s; 
}

@keyframes aparecerLogo {
  0%   { opacity: 0; top: -80px; }
  100% { opacity: 1; top: 0; }  
}


/* ---------- GIF ---------- */
.img2 {
  width: 400px;
  height: auto;
  opacity: 0;

  animation: aparecer2 3s ease-in-out forwards;
  animation-delay: 3s;
}

@keyframes aparecer2 {
  0%   { opacity: 0; transform: scale(0.95); }
  50%  { opacity: 1; transform: scale(1); }
  100% { opacity: 0; transform: scale(1);}
}

/* ---------- FORMULÁRIO ---------- */
.formulario {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  opacity: 0; 
  animation: aparecerForm 2s ease-in-out forwards;
  animation-delay: 6s; /* aparece depois do gif sumir */
}

@keyframes aparecerForm {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.formulario input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

.formulario button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background: #DFB200;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.formulario button:hover {
  background: gold;
}

/*Home*/
.nav {
  margin: 20px auto 0;
  text-align: center;
  font-size: 16px;
  padding: 20px 0; /* espaço para respiro */
  
}
.nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 15px;
  position: relative;
  font-family: arvo;
}
.nav li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.nav li a:hover {
  color: #000000;
}
.nav ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 100%;
  background: rgb(0, 0, 0);
  transition: all 0.3s ease;
}
.nav ul li:hover > ul {
  visibility: visible;
  opacity: 1;
}
.nav ul li ul li {
  display: block;
  padding: 10px;
  width: 100%;
}
.nav ul li ul li a:hover {
  padding-left: 10px;
  border-left: 2px solid #3ca0e7;
  transition: all 0.3s ease;
}

.container2{
width: 100vw;             /* largura total da tela */
  height: auto;
}

.bloco{
  background-image: url(img/fundo1.png);
 background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 900px;
  height: 700px;
  margin: 0px auto 0 auto; 
  position: relative;
  bottom: 70px;
}


